@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Karla&display=swap');

:root {
    --gainsboro: #E1E1E1;
    --aureolin: #FFEE32;
    --cybyellow: #FFD100;
    --erblack: #1D1D1D;
    --jet: #333533;
    --redorange: #FF3F00;

    --font-size: 1.3rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Inconsolata', sans-serif;
    color: var(--gainsboro);
}

.font {
    font-family: 'Karla', Verdana Tahoma, sans-serif;
    font-weight: bold;
}

.header {
    padding: 3rem 1rem;
    background-color: var(--erblack);
}

.logo{
    margin: 0;
}

.logo a{
    text-decoration: none;
    color: var(--gainsboro);
}

.logo span{
    color: var(--aureolin)
}

.logo span:hover{
    color: var(--redorange);
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    margin: 5rem 0;
}

.name {
    display: block;
    font-size: 3rem;
    color: var(--aureolin);
    margin: 1rem 0;
    font-weight: bold;

}
.nav-bar {
    display: flex;
    justify-content: center;
}

.nav-bar a {
    text-decoration: none;
    color: gainsboro;
    margin: 2rem .5rem;

}

.icon {
    font-size: 1.5rem;
    color: var(--aureolin)
}

.title {
    font-size: 3rem;
    margin: 1.5rem 0;
}

#projects {
    background-color: var(--jet);
    padding: 3rem 1rem 6rem;
}

.projects-title {
    margin: 0 0 4rem;
    font-size: 2.5rem;
}

.projects-box {
    position: relative;
}

.projects-box p{
    margin: 0;
}

.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: calc(60vh + 1em);
    border-radius: 2rem;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
    border: 2px solid var(--erblack);
}

.img-1 {
    background-image: url("img/wordmasters.png");

}
.img-2 {
    background-image: url("img/sunnyside.png");
}
.img-3 {
    background-image: url("img/huddle.png");
}

.foto {
    background-image: url("img/gabriel.png");
}

.details {
    margin: 4rem 0 2rem;
}

.details-anchor{
    text-decoration: none;
    color: var(--aureolin);
    font-size: 2rem;
    text-decoration: none;
    margin: 0;
}

.details-textbox {
    background-color: var(--erblack);
    border-radius: .5rem;
    margin: 1rem 0;
}

.details-textbox p {
    padding: 1rem;
}

.details-textbox a {
    color: var(--cybyellow)
}

#contact {
    background-color: var(--cybyellow);
    color: var(--erblack);
    padding: 3rem 1rem;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26rem
}

.zap {
    background-color: var(--erblack);
    margin: 2rem 0;
    color: var(--gainsboro);
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 2rem;
}

.fa-whatsapp{
    font-size: 2rem;
    margin-right: .5rem;
}

.contact-title {
    margin: 0;
    font-size: 2.5rem;
}

.footer {
    background-color: var(--erblack);
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title {
    margin: .2rem;
}

.footer h3 {
    font-size: 2rem;
}

.footer h4 {
    font-size: 1.5rem;
}

.socials {
    font-size: 3rem;
    margin: 2rem;
}

.gradient {
    background: linear-gradient(90deg, rgba(255,238,50,1) 0%, rgba(255,63,0,1) 100%);
    height: 3px;
}

@media screen and (min-width:800px) {
    body {
        font-size: 120%;
    }

    .nav {
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    .nav-bar a{
        margin: 1rem 1rem;
    }

    .header {
        padding: 3rem 6rem;
    }

    .intro {
        margin: 8rem 0;
    }

    .name {
        font-size: 4rem;
    }

    .title {
        font-size: 3.5rem;
    }

    #projects {
        padding: 3rem 6rem;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .projects-box {
        margin: 6rem 0;
        max-width: 1600px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1rem;
    }

    .image {
        grid-column:1/6;
        grid-row:1/2;
    }

    .details {
        grid-column:5/11;
        grid-row:1/2;
        order: 2;
        margin: 0;
        text-align: justify;
    }

    .foto {
        grid-column:1/4;
        grid-row:1/2;
    }

    .details-about {
        grid-column:4/11;
        grid-row:1/2;
    }

    .details.left {
        direction:rtl;
    }

    .projects-box:nth-of-type(2){
        direction: rtl;
    }

    .details.right {
        direction: ltr;
    }

    a:hover {
        color: #FF3F00;
    }
    
    .icon:hover, .socials a:hover {
        filter: brightness(0) saturate(100%) invert(31%) sepia(37%) saturate(5517%) hue-rotate(1deg) brightness(104%) contrast(109%);
    }

    .zap p:hover {
        color: orangered;
        text-decoration: underline;
    }
}