:root {
    --dksienna: #230007;
    --citrine: #D7CF07;
    --fulvous: #D98324;
    --rufous: #A40606;
    --rosewood: #5A0002;
    --font-size: 1.3rem;
    
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Karla&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Inconsolata';
}

h1 {
    font-family: 'Karla';
}